In [1]:
import pandas as pd

In [5]:
df_market = pd.read_csv('Data_Processed/Market_Value.csv',index_col=0)
df_stats = pd.read_csv('Data_Processed/Stats.csv',index_col=0)

C:\Users\alexc\AppData\Local\Temp\ipykernel_19904\2515218775.py:2: DtypeWarning: Columns (8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_stats = pd.read_csv('Data_Processed/Stats.csv',index_col=0)


1.	¿Cuál es el club que ha conseguido un mayor aumento en el valor de mercado de sus jugadores?

2.	¿Cuál es el club que ha logrado aumentar el valor de mercado de un mayor número de jugadores?

In [22]:
df_conclusion1 = pd.DataFrame(df_market.groupby(['Club_Valor', 'Temporada'])['Diferencia_Valor']\
                              .sum()).reset_index().sort_values(by='Diferencia_Valor',ascending=False)
df_conclusion1[df_conclusion1['Temporada'] == 2022].head(20)

                   Club_Valor  Temporada  Diferencia_Valor
1659               Arsenal FC       2022         163000000
2708   Brighton & Hove Albion       2022         149100000
14532              SL Benfica       2022         138400000
14666             SSC Nápoles       2022         128300000
1063        Ajax de Ámsterdam       2022          98500000
12693           PSV Eindhoven       2022          83850000
2271            Bayern Múnich       2022          79700000
12209        Newcastle United       2022          70700000
11323         Manchester City       2022          69500000
15863        Stade Rennais FC       2022          58000000
15184        Shakhtar Donetsk       2022          58000000
11338     Manchester City U23       2022          48800000
10231                KRC Genk       2022          45200000
13649          Real Madrid CF       2022          43500000
8415      Feyenoord Rotterdam       2022          43350000
13836      Red Bull Salzburgo       2022          43200000
15757      Sporting de Lisboa       2022          39100000
6879               FC Lorient       2022          38900000
855                AZ Alkmaar       2022          38075000
12272       Nottingham Forest       2022          37800000

In [29]:
df_market2 = df_market[['Nombre','Club_Valor','Diferencia_Valor','Temporada']]

In [47]:
df_count = pd.DataFrame(df_market2[(df_market2['Diferencia_Valor']>0)]\
    .groupby(['Club_Valor','Temporada'])['Nombre'].count()).reset_index().sort_values(by='Nombre',ascending=False)

In [48]:
df_sum = pd.DataFrame(df_market2[(df_market2['Diferencia_Valor']>0)]\
    .groupby(['Club_Valor','Temporada'])['Diferencia_Valor'].sum()).reset_index().sort_values(by='Diferencia_Valor',ascending=False)

In [49]:
df_count.merge(df_sum, how='inner', on='Club_Valor')

           Club_Valor  Temporada_x  Nombre  Temporada_y  Diferencia_Valor
0            KRC Genk         2022      25         2022          49500000
1            KRC Genk         2022      25         2018          38300000
2            KRC Genk         2022      25         2020          31900000
3            KRC Genk         2022      25         2016          29100000
4            KRC Genk         2022      25         2017          10350000
...               ...          ...     ...          ...               ...
9322  1.FC Colonia II         2022       1         2015            100000
9323  1.FC Colonia II         2022       1         2014            100000
9324  1.FC Colonia II         2022       1         2013            100000
9325  1.FC Colonia II         2022       1         2017             75000
9326  1.FC Colonia II         2022       1         2018             50000

[9327 rows x 5 columns]

In [37]:
mask = (df_market2['Diferencia_Valor']>0)&(df_market2['Temporada']==2022)
df_market2[mask][df_market2[mask]['Club_Valor'] == 'KRC Genk']

                    Nombre Club_Valor  Diferencia_Valor  Temporada
77928          Mike Trésor   KRC Genk           5000000       2022
77929          Mike Trésor   KRC Genk           3500000       2022
77930          Mike Trésor   KRC Genk           1500000       2022
78234   Bilal El Khannouss   KRC Genk           6500000       2022
78235   Bilal El Khannouss   KRC Genk           1000000       2022
79194  Kristian Thorstvedt   KRC Genk           3500000       2022
80312  Maarten Vandevoordt   KRC Genk           3000000       2022
81274         Bryan Heynen   KRC Genk           2000000       2022
81275         Bryan Heynen   KRC Genk           1500000       2022
81276         Bryan Heynen   KRC Genk           1000000       2022
83115      Joseph Paintsil   KRC Genk           4500000       2022
83116      Joseph Paintsil   KRC Genk           1000000       2022
83117      Joseph Paintsil   KRC Genk           1000000       2022
84130            Junya Ito   KRC Genk           1000000       2022
84352         Daniel Muñoz   KRC Genk           1500000       2022
84353         Daniel Muñoz   KRC Genk           1500000       2022
84659        Mark McKenzie   KRC Genk           2000000       2022
84660        Mark McKenzie   KRC Genk           1500000       2022
85007      Angelo Preciado   KRC Genk            800000       2022
85008      Angelo Preciado   KRC Genk            700000       2022
85334        András Németh   KRC Genk            500000       2022
85335        András Németh   KRC Genk           1000000       2022
87606        Carlos Cuesta   KRC Genk           1000000       2022
88484      Gerardo Arteaga   KRC Genk           2000000       2022
88485      Gerardo Arteaga   KRC Genk           1000000       2022